@import "tailwindcss";

@theme {
  --color-dark-900: #0a0a0a;
  --color-dark-800: #121212;
  --color-dark-700: #1a1a1a;
  --color-dark-600: #262626;
  --color-brand-yellow: #dfff4f;
}

body {
  background-color: var(--color-dark-900);
  color: #e5e5e5;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
